
* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; }

body {
    background: #4a5568;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.shape {
    width: 80px;
    height: 80px;
    position: relative;
    background-image: url("starry bg.jpeg");
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
    display: inline-block;
    margin: 10px;
}

.circle {
    border-radius: 50%;
    position: relative;
    width: 520px;
    height: 520px;
    border: 20px solid #272E3E;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-hand {
    position: absolute;
    width: 80px;
    transform-origin: 50% 17.3%;  
    top: 42.0%;
    left: 42.344%;
}

.dot {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    border: 2px solid white;
}

/* Top */
.dot.top {
    top: -4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right */
.dot.right {
    top: 50%;
    right: -4%;
    transform: translate(50%, -50%);
    background: linear-gradient(to top, black 50%, white 50%);
}

/* Bottom */
.dot.bottom {
    bottom: -4%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: black;
}

/* Left */
.dot.left {
    top: 50%;
    left: -4%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to top, black 50%, white 50%);
}

.dot.border {
    width: 520px;
    height: 520px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: 2px solid white;
}

.dot.icon {
    background: rgb(27, 27, 27);
    width: 100px;
    height: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot.icon img {
    width: 75%;
    height: 75%;
}

/* icon colors */
.icon.yellow img {
    filter: 
        sepia(1)
        saturate(1000%)
        hue-rotate(10deg)
        brightness(1.2);
}

.icon.lightyellow img {
    filter: 
        sepia(1)
        saturate(1000%)
        hue-rotate(10deg)
        brightness(1.8);
}

.icon.red img {
    filter: 
        sepia(1)
        saturate(100000%)
        hue-rotate(-65deg)
        brightness(.9);
}

.icon.blue img {
    filter: 
        sepia(1)
        saturate(1000%)
        hue-rotate(90deg)
        brightness(1.2);
}